<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	
<form action="/AddJob" method="post">
	<ul class="ul" class="centerText">
		<li class="li"><a class="active" href="/">Home</a></li>
		<li "display: {{AshowJ}}" ><a href="/addjob" >Add Job</a></li>
		<li><a href="#Status" >Status</a></li>
		<li style="display: {{showJ}}"> <a href="/JobList">Select Job</a> </li>
		<li  style="float:right" > <a href="/logout">Logout</a></li>
	</ul>

</form>

</body>

</html>